* {
  font-family: 'Love Ya Like A Sister', cursive;
}

header {
  margin-bottom: 20px;
}

.navbar-brand img {
  max-width: 100%;
}

.nav-link {
  font-size: 1.1em;
}

.article_list h3 {
  padding: 30px;
}

.article_list {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.sub-tit {
  font-size: 45px;
}

.thumb {
  float: left;
  margin-right: 20px;
}

.img_box {
  width: 171px;
  height: 96px;
}

dl {
  float: left;
  width: calc(100% - 191px); /* Image width + margin */
}

dt,
dd {
  margin-bottom: 10px;
}

dd {
  font-size: 13px;
}

li {
  list-style-type: none;
}

.art_list .text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.thumb a,
dt a {
  text-decoration: none;
  color: inherit;
}

.thumb a {
  font-weight: bolder;
}

.thumb .text {
  font-weight: lighter;
}

.thumb a,
dt a:hover {
  color: rgb(123, 119, 119);
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px 0;
  background-color: #f8f9fa;
  clear: both;
}
